spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/taxi_db
    username: postgres
    password: admin

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080

# URL del servicio de ML
ml:
  service:
    url: http://localhost:8000/predict