spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/taxi_db
    username: postgres
    password: admin
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080

ml:
  service:
    url: http://localhost:8000/predict

logging:
  level:
    root: INFO
    com.jorge.taxi: INFO